
.mixed-brand-mini{

	position: fixed;
	
	bottom: 20px;
	
	width: 100%;
	
	text-align: center;

}

.mixed-brand-mini h1{

	color: rgba(25, 25, 25, 0.6);
	
	font-size: 14px;
	
	font-weight: 400;

}

.mixed-brand-mini{

	

}
