
.h-100pc{

	height: 100%;

}

.w-100pc{

	width: 100%;

}

.h-5{

	height: 5px;

}

.h-10{

	height: 10px;

}

.h-15{

	height: 15px;

}

.h-20{

	height: 20px;

}

.h-25{

	height: 25px;

}

.h-30{

	height: 30px;

}

.h-40{

	height: 40px;

}

.h-50{

	height: 50px;

}

.br-5{

	border-radius: 5px;

}

.br-10{

	border-radius: 10px;

}

.br-15{

	border-radius: 15px;

}

.br-20{

	border-radius: 20px;

}

.br-25{

	border-radius: 25px;

}
